---
import Layout from "@/layouts/Layout.astro";
import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Skills from "@/components/sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
import Languages from "@/components/sections/Languages.astro";
import Projects from "@/components/sections/Projects.astro";

import { basics } from "@cv";
const { name, label } = basics;

---

<Layout title={`${name} Portfolio - ${label}`}>
	<main class="relative grid max-w-7xl gap-12 p-8 max-sm:py-16 md:grid-cols-6 md:p-16 xl:gap-24 print:max-w-none print:grid-cols-1 print:gap-6">
		<div class="space-y-6 md:col-span-2 print:col-span-1 print:grid print:grid-cols-2 print:gap-5 print:space-y-0">
			<Hero />
			<div class="separator"></div>
			<About />
			<div class="separator"></div>
			<Languages />
		</div>
		<div class="space-y-12 md:col-span-4 print:col-span-1 print:grid print:grid-cols-4 print:gap-2 print:space-y-0">
			<section id="experience">
				<Experience className="print:col-span-3" />
			</section>
			<div class="separator"></div>
			<section id="skills">
				<Skills className="print:hidden" />
			</section>
			<div class="separator print:hidden"></div>
			<section id="education">
				<Education className="order-first" />
			</section>
			<div class="separator"></div>
			<section id="projects">
				<Projects />
			</section>
		</div>
	</main>

	<KeyboardManager />
</Layout>

<style>
	@page {
		size: auto;
		margin: 0mm;
	}
	main {
		margin: auto;
		width: 100%;
	}
	.separator {
		border-bottom: 1px solid rgba(var(--color-text-muted), 0.2);
		margin: 1.5rem 0;
		width: 100%;
	}
	@media print {
		.separator {
			display: none;
		}
	}
</style>
